@import "./libs/variables";
@import "./libs/reset";
@import "./libs/mixins";


%shadow {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.btn {
    padding: 5px 12px;
    border-radius: 4px;
    background-color: rgba(105, 143, 214);
    color: #fff;
    text-decoration: none;


    &:hover {
        background-color: rgb(67, 98, 155);
    }

}

.btn-danger {
    @extend .btn;
    background-color: red;
}

.call-to-action {
    @extend .btn;
}

.card {
    @extend %shadow;
    padding: $space;
    @include rotate10;

}
